/* * menu.css
 * Main Menu (Difficulty Select)
 */


/* Font Definition */
@font-face {
    font-family: "Let's go Digital";
    src: url("../fonts/digital.ttf");  /* Go out from css, and go to fonts */
}

.menu-title {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48px;
    -fx-text-fill: yellow;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 2);
}

.menu-label {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

/* Menu Screen Button */
.menu-background .button {
     -fx-font-family: "Let's go Digital";
     -fx-font-size: 18px;
 }