/* * settings_screen.css
 * Setting Screen Style
 */

/* Font Definition */
@font-face {
    font-family: "Let's go Digital";
    src: url("../fonts/digital.ttf");  /* Go out from css, and go to fonts */
}

/* Slider tick values */
.slider .axis-tick-label {
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 14px;
}

/* Make it easier to see the track of slider */
.slider .track {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

/* Background for transparent scroll pane */
.transparent-scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.transparent-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.transparent-scroll-pane .content {
    -fx-background-color: transparent;
}